@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 64px;
  font-weight: bold;
}

h2 {
  font-size: 48px;
  font-weight: bold;
}

h3 {
  font-size: 36px;
  font-weight: bold;
}

h4 {
  font-size: 24px;
  font-weight: bold;
}

p {
  font-size: 18px;
  color: #474747;
}

p.small {
  font-size: 16px;
  color: #474747;
}

.container {
  margin: auto;
  width: 1348px;
}

a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
}

span.blue {
  color: #4249F2;
}

button {
  cursor: pointer;
}

.primary-btn {
  background-color: #4249F2;
  display: flex;
  width: 212px;
  height: 61px;
  gap: 10px;
  align-items: center;
  justify-content: center;
  color: #fff;
  border: 0;
  padding: 24px 48px;
  border-radius: 5px;
}

.primary-btn img {
  animation: buttonAnimation 1.6s ease-in-out infinite;
}

.secondary-btn {
  background-color: #fff;
  display: flex;
  gap: 10px;
  align-items: center;
  color: #000;
  border: 0;
  padding: 24px 48px;
  border-radius: 5px;
  font-weight: bold;
}

@keyframes buttonAnimation {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0px);
  }
}

section {
  padding: 109px 0;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}

.nav-links > a:not(:last-child){
  margin-right: 58px;
}

a.active {
  color: #4249F2;
  font-weight: bold;
}

.logo {
  font-weight: bold;
  font-size: 20px;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-top: 113px;
}

.hero-content.about {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content h1 {
  max-width: 940px;
}

.hero-section .container {
  display: flex;
  flex-direction: column;
  gap: 130px;
}

.hero-image {
  max-width: 1115px;
  align-self: center;
}

.clients {
  padding: 88px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients img {
  filter: grayscale(50);
}

section.network {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 7em;
}

.network .content-block > p {
  padding: 39px 0;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 49px;
}

.cards {
  display: flex;
  justify-content: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 154px;
}

.card {
  width: 317px;
  height: 387.93px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 10px 10px 20px 10px rgba(66, 73, 242, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 45px 30px;
  gap: 27px;
  cursor: pointer;
}

.card .num {
  width: 85.93px;
  height: 85.93px;
  background-color: #4249F2;
  color: #fff;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.card.active {
  background-color: #4249F2;
  color: #fff;
}

.card.active p.small {
  color: #fff;
}

.card.active .num {
  background-color: #fff;
  color: #4249F2;
}

.image-grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 60px;
}

.image-grid .img {
  width: 379px;
  height: 532px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  transition: .5s all ease-out;
}

.image-grid .img img {
  transition: .5s all ease-out;
}

.image-grid .img:hover {
  filter: brightness(30%);
}

.image-grid .img:hover > img {
  transform: scale(1.2);
}

.team {
  padding-top: 145px;
  display: flex;
  flex-direction: column;
  gap: 67px;
}

.team h3 {
  max-width: 1015px;
  text-align: center;
}

.testimonial {
  display: flex;
  padding: 100px 0;
  align-items: center;
  gap: 24px;
}

.testimonial-grid {
  display: flex;
  gap: 67px;
}

.testimonial-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 45px 30px;
  width: 287px;
  height: 304px;
  gap: 27px;
  background: #FFFFFF;
  box-shadow: 10px 10px 20px 10px rgba(66, 73, 242, 0.1);
  border-radius: 20px;
  text-align: center;
  transition: all .3s ease-in-out;
}

.testimonial-card:hover {
  transform: scale(1.1);
}

.testimonial-content {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.team p {
  max-width: 687px;
  text-align: center;
}

.team-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 26px;
}

.cta {
  height: 572px;
  background-color: #4249F2;
  color: #fff;
  margin-bottom: 116px;
}

.cta .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 63px;
  height: 100%;
}

.cta h2 {
  width: 471px;
  text-align: center;
}

footer .copyright {
  padding: 89px 0;
  display: flex;
  justify-content: center;
}

.grid .col {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.row {
  background-color: #787DEE;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 52px;
}

.contact-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 113px 0;
  flex-direction: column;
}

.contact-hero h1 {
  width: 556px;
  text-align: center;
}

.info {
  display: flex;
  padding-top: 56px;
}

.info div {
  display: flex;
  align-items: center;
  gap: 14px;
}

.phone-number {
  padding-right: 53px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.contact-form .col {
  display: flex;
  gap: 34px;
}

input.small-input {
  width: 318px;
}

input {
  border: 1px solid #4E4E4E;
  width: 670px;
  height: 58px;
  padding: 0 19px;
  border-radius: 10px;
}


textarea {
  width: 670px;
  height: 275px;
  border: 1px solid #4E4E4E;
  padding: 32px 19px;
  border-radius: 10px;
}

.primary-btn.large {
  width: 670px;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 56px;
  padding: 119px 0;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 104px;
  margin-bottom: 293px;
}

.login {
  width: 461px;
}

.login input {
  width: 461px;
}

.login .content {
  padding-bottom: 29px;
}

.login .content h2 {
  padding-bottom: 10px;
}

.login .input-fields {
  padding-bottom: 86px;
}

.login .input-fields input:first-child {
  margin-bottom: 30px;
}

.primary-btn-large {
  width: 461px;
  height: 58px;
  background-color: #4249F2;
  color: #fff;
  border: 0;
  padding: 15px 0;
  border-radius: 10px;
}

.dashboard {
  display: flex;
  min-height: 100vh;
  background-color: #FBFBFB;
}

.dashboard-pages {
  width: 100%;
  padding-left: 20em;
  padding-right: 10em;
  margin-top: 52px;
}

.dashboard-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
}

.dashboard-nav .left {
  display: flex;
  align-items: center;
}

.dashboard-nav .left .tag {
  margin-left: 18px;
}

.search-bar {
  width: 320px;
  background-color: #fff;
  height: 40px;
  border: 1px solid #B9B9B9;
  border-radius: 32px;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 7px 23px;
}

.search-bar input {
  width: 100%;
  height: 100%;
  outline: none;
  border: 0;
  font-size: 12px;
  font-weight: 500;
  color: #8D8D8D;
}

.blue-tag {
  background-color: rgb(101, 98, 255, 0.15);
  color: #6562FF;
  font-weight: bold;
  font-size: 12px;
  width: 169px;
  height: 35px;
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 259px;
  background-color: #fff;
  height: 100vh;
  padding: 52px 0;
  border-right: 1px solid #dcdcdc;
}

.sidebar .top > *:not(:last-child) {
  margin-bottom: 52px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar .top .logo {
  font-size: 16px;
}

.side-nav-items > *:not(:last-child) {
  margin-bottom: 31px;
}

.side-nav-item {
  width: 172px;
  height: 38px;
  border-radius: 10px;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
}

.side-nav-item.active {
  background-color: #4249F2;
  color: #fff;
}

.side-nav-item.active > .icon {
  background-color: #fff;
}

.icon {
  background-color: #000;
  margin-right: 13px;
  width: 24px;
  height: 24px;
}

.logout {
  position: absolute;
  margin-bottom: 52px;
  bottom: 0;
}

.profile-name {
  font-size: 20px;
  font-weight: bold;
}

.tab {
  margin: 64px 0;
}

.tab .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.primary-btn-medium {
  width: 177px;
  height: 49px;
  border-radius: 10px;
  border: 0;
  background-color: #4249F2;
  color: #fff;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Table */

.table {
  margin-top: 33px;
  border: 1px solid #C2C2C2;
  border-radius: 7px;
  overflow: hidden;
  color: #686868;
}
.table-head {
  background-color: #F0F0F0;
}

.tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 32px;
}

.table-data {
  padding: 13px;
}

.table-col:not(:last-child) {
  border-bottom: 1px solid #DCDCDC;
}

.item {
  width: 300px;
}

.quantity {
  width: 130px;
}

.date {
  width: 200px;
}

.time {
  width: 160px;
}

.action {
  width: 103px;
}

.edit {
  cursor: pointer;
}

.history-tag {
  width: 91px;
  height: 21px;
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 500;
}

.history-tag.added {
  background-color: hsla(155, 100%, 35%, 0.123);
  color:#00B066;
}

.history-tag.deleted {
  background-color: hsla(0, 100%, 62%, 0.123);
  color:#FF3D3D;
}

/* icons */

.menu-icon {
  -webkit-mask: url('./assets/icons/menu.svg') no-repeat center;
  mask: url('./assets/icons/menu.svg') no-repeat center;
}

.history-icon {
  -webkit-mask: url('./assets/icons/history.svg') no-repeat center;
  mask: url('./assets/icons/history.svg') no-repeat center;
}

.job-icon {
  -webkit-mask: url('./assets/icons/job.svg') no-repeat center;
  mask: url('./assets/icons/job.svg') no-repeat center;
}

.logout-icon {
  -webkit-mask: url('./assets/icons/logout.svg') no-repeat center;
  mask: url('./assets/icons/logout.svg') no-repeat center;
}